<tr>
    <td>
        {{ article.label }}
    </td>
    <td>
        {{ article.description }}
    </td>
    <td>
        {{ article.comment }}
    </td>
    <td>
        {{ article.submit_group != null ? article.submit_group.label : "Aucun" }}
    </td>
    <td>
        {{ article.unit }}
    </td>
    <td>
        {{ article.minimal_quantity }}
    </td>
    <td>
        {{ article.price }}
    </td>
    <td>
        {{ article.percent_workforce }}
    </td>
    <td>
        {{article.subcontractable ? ("Oui") : ("Non")}}
    </td>
    <td>
        {{article.up_to_date ? ("Oui") : ("Non")}}
    </td>

    <td> {{ article.statuses.label }} </td>

    <td>
        <a class="badge badge-warning" href="/articles/{{ article.id }}">
            Editer
        </a>
        <button class="badge badge-danger mr-2" (click)="deleteArticle()">
            Supprimer
        </button>
    </td>
</tr>