<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="devisForm" (ngSubmit)="onSubmitForm()">
        <mat-form-field appearance="fill">
            <mat-label for="name">Nom entreprise</mat-label>
            <input matInput type="text" id="name" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="client">Client</mat-label>
            <input matInput type="text" id="client" formControlName="client" [matAutocomplete]="customerAuto">
            <mat-autocomplete #customerAuto="matAutocomplete" [displayWith]="displayCustomer">
                <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer">
                    {{customer.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button type="button" class="btn btn-success" (click)="onAddCustomer()"> Ajouter un nouveau client</button>
        <br>
        <br>
        <br>
        <div cdkDropList (cdkDropListDropped)="drop($event)">
            <div formArrayName="articles">
                <h3>Prestations</h3>
                <div class="example-list" cdkDrag cdkDragLockAxis="y"
                    *ngFor="let articleControl of getArticlesInDevis().controls; let i = index">
                    <!-- Pour avoir une fleche qui dit ou prendre -->
                    <div class="example-handle" cdkDragHandle>
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                            </path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Choisir un article" type="text" [formControlName]="i"
                            [matAutocomplete]="articleAuto">
                        <mat-autocomplete #articleAuto="matAutocomplete" [displayWith]="displayArticles">
                            <mat-option *ngFor="let article of filteredArticles[i] | async" [value]="article">
                                {{article.label}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <div class="dragable" cdkDragHandle>
                        <p *ngIf="devisForm.value['articles'][i] != null">
                            {{devisForm.value["articles"][i].description}}
                        </p>
                    </div>
                </div>
                <button type="button" class="btn btn-success" (click)="onAddArticle()"
                    [disabled]="articles==null">Ajouter
                    un article</button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Soumettre</button>
    </form>
</div>