<div class="container-fluid">
    <form [formGroup]="devisForm" (ngSubmit)="onSubmitForm()">
        <!-- <mat-form-field appearance="fill">
            <mat-label for="name">Nom entreprise</mat-label>
            <input matInput type="text" id="name" formControlName="name">
        </mat-form-field> -->
        <mat-form-field appearance="fill">
            <mat-label for="client">Client</mat-label>
            <input matInput type="text" id="client" formControlName="client" [matAutocomplete]="customerAuto">
            <mat-autocomplete #customerAuto="matAutocomplete" [displayWith]="displayCustomer">
                <mat-option *ngFor="let customer of filteredCustomers | async" [title]="customer.name"
                    [value]="customer">
                    {{customer.name}}
                </mat-option>
            </mat-autocomplete>
            <mat-error
                *ngIf="this.devisForm.controls.client.hasError('required') || this.devisForm.controls.client.hasError('nothingSelected')">
                Un client doit être sélectionné.
            </mat-error>
        </mat-form-field>
        <button type="button" class="btn btn-success" (click)="onAddCustomer()"> Ajouter un nouveau client</button>
        <br>
        <br>
        <mat-form-field appearance="fill">
            <mat-label for="reference">Référence</mat-label>
            <input matInput type="text" id="reference" formControlName="reference">
            <mat-error *ngIf="this.devisForm.controls.reference.hasError('required')">
                Il doit y avoir une référence.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="tva">Régime TVA</mat-label>
            <mat-select formControlName="tva">
                <mat-option *ngFor="let tva of TVAList" [value]="tva">
                    {{tva.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="version">Version</mat-label>
            <input matInput type="text" id="version" formControlName="version">
            <mat-error
                *ngIf="this.devisForm.controls.version.hasError('pattern') && !this.devisForm.controls.version.hasError('required')">
                La version doit être un nombre entier positif.
            </mat-error>
            <mat-error *ngIf="this.devisForm.controls.version.hasError('required')">
                Il doit y avoir un numéro de version.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="titre">Titre</mat-label>
            <input matInput type="text" id="titre" formControlName="titre">
        </mat-form-field>
        <br>
        <br>
        <br>
        <h3>Prestations</h3>
        <div class="row">
            <p class='col-sm-5'>Description</p>
            <p class='col-sm-1'>TM</p>
            <p class='col-sm-1'>Q</p>
            <span class='row col-sm-1'>
                <p class='col-sm-6'>U</p>
                <p class='col-sm-6'>PU</p>
            </span>
            <p class='col-sm-1'>Montant</p>
            <p class='col-sm-2'>Groupe de Soumission</p>
            <p class='col-sm-1'>Facteur de risque </p>
        </div>
        <div cdkDropList (cdkDropListDropped)="dropSection($event)" formArrayName="section">
            <div cdkDropListGroup class="example-list" cdkDrag cdkDragLockAxis="y" class="example-list"
                *ngFor="let sectionControl of devisForm['controls'].section['controls']; let ix=index">
                <div formGroupName="{{ix}}">
                    <span class="row col-sm-5">
                        <span class="example-handle col-sm-1" cdkDragHandle>
                            <mat-icon>open_with</mat-icon>
                            <mat-icon class="delete-button" (click)="deleteSection(ix)">delete</mat-icon>
                        </span>
                        <mat-form-field class='col-sm-11' appearance="fill">
                            <mat-label for="name">Nom de la section</mat-label>
                            <input matInput type="text" title="{{devisForm.value['section'][ix].name}}"
                                formControlName="name">
                            <mat-error
                                *ngIf="this.getSectionInDevis()['controls'][0]['controls']['name'].hasError('required') || this.getSectionInDevis()['controls'][0]['controls']['name'].hasError('whitespace') ">
                                Un nom de section ne peux pas être vide.
                            </mat-error>
                        </mat-form-field>
                    </span>
                    <!-- Article -->
                    <div cdkDropList id="{{sectionControl['controls'].id.value}}" [cdkDropListData]="ix"
                        (cdkDropListDropped)="dropArticle($event,ix)" [cdkDropListConnectedTo]="getConnectedList()"
                        formArrayName="articles">
                        <div class="example-list" cdkDrag cdkDragLockAxis="y"
                            *ngFor="let articleControl of sectionControl['controls'].articles['controls']; let iy=index">
                            <div class="row" formGroupName="{{iy}}">
                                <span class=col-sm-5>
                                    <span class="example-handle col-sm-1" cdkDragHandle>
                                        <mat-icon>open_with</mat-icon>
                                        <mat-icon class="delete-button" (click)="deleteArticle(ix,iy)">delete</mat-icon>
                                    </span>
                                    <mat-form-field class='col-sm-11' appearance="fill">
                                        <mat-label for="name">Nom de l'article</mat-label>
                                        <input matInput placeholder="Choisir un article" type="text"
                                            formControlName="article" [matAutocomplete]="articleAuto"
                                            [title]="devisForm.value['section'][ix]['articles'][iy]['article'] ? devisForm.value['section'][ix]['articles'][iy]['article'].label  : ''">
                                        <mat-autocomplete #articleAuto="matAutocomplete"
                                            [displayWith]="displayArticles">
                                            <mat-option
                                                *ngFor="let article of filteredArticlesInSection[ix][iy] | async"
                                                [title]="article.label" [value]="article">
                                                {{article.label}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error
                                            *ngIf="this.getArticlesInSection(ix)['controls'][iy]['controls']['article'].hasError('required') || this.getArticlesInSection(ix)['controls'][iy]['controls']['article'].hasError('nothingSelected') ">
                                            Un article doit être sélectionné.
                                        </mat-error>
                                    </mat-form-field>
                                </span>
                                <mat-form-field class='col-sm-1' appearance="fill">
                                    <mat-label for="market_type">Type de marché</mat-label>
                                    <mat-select formControlName="market_type">
                                        <mat-option *ngFor="let MT of marketType" [title]='MT.label' [value]="MT.id">
                                            {{MT.acronym}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="this.getArticlesInSection(ix)['controls'][iy]['controls']['market_type'].hasError('required')">
                                        Ne peux être vide.
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class='col-sm-1' appearance="fill">
                                    <mat-label for="quantity">Quantité</mat-label>
                                    <input matInput type="number" formControlName="quantity">
                                </mat-form-field>
                                <span class='row col-sm-1'>
                                    <!-- Unit -->
                                    <span class="col-sm-6">
                                        {{ devisForm.value['section'][ix]['articles'][iy]['article'] != null ? devisForm.value['section'][ix]['articles'][iy]['article'].unit :''}}
                                    </span>
                                    <!-- Price -->
                                    <span class="col-sm-6">
                                        {{devisForm.value['section'][ix]['articles'][iy]['article'] != null ? devisForm.value['section'][ix]['articles'][iy]['article'].price : ''}}
                                    </span>
                                </span>
                                <!-- Afficahge sommaire d'un montant, mais faudras en rediscuter je pense qu'il peyux y avoir des subtilité selon les cas notamment le market type et la quatitty -->
                                <span class="col-sm-1">
                                    {{devisForm.value['section'][ix]['articles'][iy]['article'] != null ? (devisForm.value['section'][ix]['articles'][iy]['article'].price && devisForm.value['section'][ix]['articles'][iy]['quantity'] ? (devisForm.value['section'][ix]['articles'][iy]['article'].price * devisForm.value['section'][ix]['articles'][iy]['quantity'] | number:'1.2-2':'fr') +" €": '0.00 €' ) : ''}}
                                </span>
                                <mat-form-field class='col-sm-2' appearance="fill">
                                    <mat-label for="submit_group">Groupe de Soumission</mat-label>
                                    <input matInput type="text" formControlName="submit_group"
                                        [matAutocomplete]="submitAuto">
                                    <mat-autocomplete #submitAuto="matAutocomplete" [displayWith]="displaySubmitGroup">
                                        <mat-option *ngFor="let submit of filteredSubmitGroupInSection[ix][iy] | async"
                                            [title]="submit.label" [value]="submit">
                                            {{submit.label}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <!-- //Je sais pas trop ce que c'est donc je reste sur un truc basique -->
                                <mat-form-field class='col-sm-1' appearance="fill">
                                    <mat-label for="risk_factor">Facteur de risque</mat-label>
                                    <input matInput type="number" formControlName="risk_factor">
                                </mat-form-field>
                            </div>
                            <div cdkDragHandle class="dragable col-sm-6">
                                <p *ngIf="devisForm.value['section'][ix]['articles'][iy]['article'] != null">
                                    {{devisForm.value['section'][ix]['articles'][iy]['article'].description}}
                                </p>
                            </div>
                        </div>
                        <br>
                    </div><!-- Article End-->
                    <span class="row text-center">
                        <p class="col-sm-10"></p>
                        <strong class="col-sm-1">
                            Sous-total :
                        </strong>
                        <p class="col-sm-1">
                            {{ getTotalPriceSection(ix) | number:'1.2-2':'fr' }} €
                        </p>
                    </span>
                    <button type="button" class="btn btn-success" (click)="addArticles(ix)"
                        [disabled]="articles==null">Ajouter
                        un article</button>
                </div>
            </div>

            <span class="row text-center">
                <p class="col-sm-9"></p>
                <strong class="col-sm-2">
                    Total HTVA :
                </strong>
                <p class="col-sm-1">
                    {{ getTotalPrice() | number:'1.2-2':'fr'}} €
                </p>
            </span>
            <span class="row text-center">
                <p class="col-sm-9"></p>
                <strong class="col-sm-2">
                    {{ devisForm.value['tva'] ? 'TVA ' + devisForm.value['tva'].tva*100  + '% :': 'TVA ?? % :'}}
                </strong>
                <p class="col-sm-1">
                    {{ devisForm.value['tva'] ? (getTotalPrice() * devisForm.value['tva'].tva | number:'1.2-2':'fr') : (0 | number:'1.2-2':'fr')}}
                    €
                </p>
            </span>
            <span class="row text-center">
                <p class="col-sm-9"></p>
                <strong class="col-sm-2">
                    Total TVAC :
                </strong>
                <p class="col-sm-1">
                    {{ devisForm.value['tva'] ? (getTotalPrice() * (1 + devisForm.value['tva'].tva)| number:'1.2-2':'fr') : (getTotalPrice() | number:'1.2-2':'fr')}}
                    €
                </p>
            </span>
            <button type="button" class="btn btn-success" (click)="addSection()" [disabled]="articles==null">Ajouter
                une section</button>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Sauvegarder TODO</button>
        <button class="btn btn-primary" (click)='newVersion()'>Nouvelle Version TODO</button>
        <button class="btn btn-primary" [disabled]="!devisForm.valid" (click)="generatePdf()">Ouvrir en PDF</button>
    </form>
</div>